.eventadmin {
  font-family: "SF UI Display", sans-serif;
  background-image: url("./gcs.png");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.eventadmin a {
  text-decoration: none;
  color: #121212;
  font-family: "SF UI Display", sans-serif;
}
.eventadmin header {
  font-size: 0;
  background-color: white;
}
.eventadmin .headerContainer {
  display: inline-block;
  padding: 48px 24px 0;
  vertical-align: middle;
  width: calc(100% - 60px);
  box-sizing: border-box;
}
.eventadmin .headerContainer h1 {
  line-height: 20px;
  font-size: 20px;
  color: #788BF0;
}
.eventadmin .headerContainer p {
  line-height: 16px;
  font-size: 12px;
}
.eventadmin .notificationIcon {
  width: 36px;
  height: 36px;
  display: inline-block;
  background-image: url("./notify-button.svg");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-top: 48px;
}
.eventadmin .companyButtons {
  padding: 24px;
  background-color: #fff;
  border-radius: 0px 0px 16px 16px;
}
.eventadmin .companyButtons a {
  background-color: #F4F6FF;
  display: block;
  font-size: 0;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 4px;
}
.eventadmin .companyButtons a img {
  vertical-align: middle;
}
.eventadmin .companyButtons a p {
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  vertical-align: middle;
}
.eventadmin .companyInfo {
  padding: 24px;
}
.eventadmin .companyInfo a {
  background: #fff;
  border: 1px solid rgba(120, 139, 240, 0);
  border-radius: 36px;
  line-height: 24px;
  height: 24px;
  display: inline-block;
  padding: 0 8px;
  font-size: 10px;
  box-sizing: border-box;
  vertical-align: middle;
  width: calc((100% - 40px) / 4);
  text-align: center;
}
.eventadmin .companyInfo .active {
  border: 1px solid #788BF0;
}
.eventadmin .companyInfo .calendar {
  display: inline-block;
  width: 24px;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.eventadmin .companyInfo .calendar input {
  top: 0;
  left: 50%;
  width: 10px;
  height: 24px;
  position: absolute;
  transform: scaleX(3);
  opacity: 0;
}
.eventadmin .companyInfo .calendarButton {
  width: 24px;
  background-image: url("./calendar.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}
.eventadmin .companyInfo ul {
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 96px;
}
.eventadmin .companyInfo ul li {
  background-color: #fff;
  list-style: none;
  overflow: hidden;
  padding: 6px 12px;
  margin-bottom: 1px;
  line-height: 18px;
}
.eventadmin .companyInfo ul li:last-child {
  margin-bottom: 0;
}
.eventadmin .companyInfo ul li p {
  float: left;
  font-size: 12px;
}
.eventadmin .companyInfo ul li p:last-child {
  float: right;
}
.eventadmin footer {
  background-color: #fff;
  padding: 24px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
  box-sizing: border-box;
}
.eventadmin footer .bottomBtn {
  font-size: 14px;
  text-align: center;
  background-color: #F4F6FF;
  display: block;
  border-radius: 32px;
  line-height: 16px;
  padding: 16px;
}
.eventadmin .smallParagraph {
  font-size: 10px;
  line-height: 14px;
  padding: 0 24px;
  padding-top: 8px;
  background-color: #fff;
}
.eventadmin .companyInfo ul {
  margin-bottom: 0;
}
.eventadmin .companyInfo ul:first-of-type {
  margin-top: 0;
}
.eventadmin footer {
  background: none;
}/*# sourceMappingURL=eventAdmin.module.css.map */