body {
    background-color: #fff; 
    background-image: url("./bgRegistration.png")
}

.h1 {
    margin-bottom: 24px;
    color: #282C32;
    padding: 24px 24px 4px;
    width: 100%;
    line-height: 24px;
    font-size: 24px;
}

.form {
    overflow: hidden;
    margin-bottom: 100px;
    >input {
        line-height: 40px;
        border-radius: 8px;
        font-family: "SF UI Display", sans-serif;
        padding: 0 12px;
        box-sizing: border-box;
        border: 1px solid #BDBDBD;
        display: block;
        margin: auto;
        width: calc(100% - 48px);
        background-color: #fff;
        height: 40px;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 14px;
    }

    overflow: hidden;
    margin-bottom: 100px;
}

.formfooter {
    background-color: #fff;
    padding: 24px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10;
    box-sizing: border-box;

    .bottombtn {
        text-decoration: none;
        color: #121212;
        font-family: "SF UI Display", sans-serif;
        font-size: 14px;
        text-align: center;
        background-color: #8E9EF4;
        color: #fff;
        display: block;
        border-radius: 32px;
        line-height: 16px;
        padding: 16px;
    }
}

.smallparagraph {
    color: #282C32;
    padding: 8px 24px 4px 24px;
    // margin-bottom: 24px;
    font-size: 14px;
    transform: translate(13px, 31px);
    opacity: 0.5;
    transition: 0.3s;
    pointer-events: none;
}
