<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link href="{{ url_for('static', path='/css/participantList.css') }}" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="content">
            <div class="list">
            <script>let total = 0;</script>
                <div class="item">
                    <div class="itemContent">
                        <div class="name">
                             Кто сдал
                        </div>
                        <div class="name">
                             Cумма
                        </div>
                        <div class="name">
                             Дата
                        </div>
                    </div>
                </div>
                {% for di in donors_info %}
                    {%  if di.payed != 0 %}
                        <div class="item">
                            <div class="itemContent">
                                <div class="name">
                                    {{ di.name }}
                                </div>
                                <div class="name">
                                    {{ di.payed }} руб.
                                </div>
                                <div class="name bod">
                                    {{ di.payed_date }}
                                </div>
                            </div>
                        </div>
                        <script>total += parseInt('{{ di.payed }}')</script>
                    {% endif %}
                {% endfor %}
                <div class="item">
                    <div class="itemContent">
                        <div class="name">
                             Всего сдано
                        </div>
                        <div class="name">
                            <script>document.write(total + " руб.")</script>
                        </div>
                        <div class="name">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="backButton" onclick="closeWebApp()">
                Закрыть
            </div>
        </footer>
    </div>
</div>
<script>
    let App = window.Telegram.WebApp;

    function closeWebApp() {
        App.close();
    }
    document.querySelectorAll(".bod").forEach((date) => {
        if (date.innerText !== '') {
            let [year, month, day] = date.innerText.split("-")

            date.innerText = `${day}.${month}.${year}`
        } else {
            date.innerText = 'не сдал'
        }
    })
</script>
</body>
</html>