<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width">
    <title>Список сборов</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link href="{{ url_for('static', path='/css/feeHistory.css') }}" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <div class="container">
        <div class="content">
            <h1>Список сборов</h1>
            <form class="filter">
                <div>
                    <label>
                        <input checked type="radio" id="closedRadio" name="open" value="open">
                        <div>
                            <img src="{{ url_for('static', path='/img/mark.svg') }}" alt="">
                            <span class="name">Открытые</span>
                        </div>
                        <span class="amount">{{ funds_amounts.open }}</span>
                    </label>
                    <label>
                        <input type="radio" id="closedRadio" name="success" value="successful">
                        <div>
                            <img src="{{ url_for('static', path='/img/mark.svg') }}" alt="">
                            <span class="name">Успешные</span>
                        </div>
                        <span class="amount">{{ funds_amounts.success }}</span>
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" id="closedRadio" name="open" value="closed">
                        <div>
                            <img src="{{ url_for('static', path='/img/mark.svg') }}" alt="">
                            <span class="name">Закрытые</span>
                        </div>
                        <span class="amount">{{ funds_amounts.closed }}</span>
                    </label>

                    <label>
                        <input type="radio" id="closedRadio" name="success" value="unsuccessful">
                        <div>
                            <img src="{{ url_for('static', path='/img/mark.svg') }}" alt="">
                            <span class="name">Неуспешные</span>
                        </div>
                        <span class="amount">{{ funds_amounts.unsuccessful }}</span>
                    </label>
                </div>
            </form>

            <div class="funds">
                {% for fi in funds_info %}
                    {% set classes = "fund " %}
                    {% if fi.is_open %}
                        {% set classes = classes + "open " %}
                    {% else %}
                        {% set classes = classes + "closed " %}
                    {% endif %}
                    {% if fi.is_success %}
                        {% set classes = classes + "successful " %}
                    {% else %}
                        {% set classes = classes + "unsuccessful " %}
                    {% endif %}

                    <div class="{{ classes }}" onclick="openFund({{ fi.id }})">
                        <div>
                            <p>{{ fi.target }}</p>
                            <p>{{ fi.event_date }}</p>
                        </div>
                        <div>
                            <img src="{{ url_for('static', path='/img/markBig.svg') }}" alt="">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <footer>
            <div class="backButton" onclick="closeWebApp()">
                Назад
            </div>
        </footer>
    </div>
</div>
<script>
    let openRadios = document.querySelectorAll('input[name="open"]');
    let successRadios = document.querySelectorAll('input[name="success"]');

    let funds = document.querySelectorAll('.fund');

    function filterFunds() {
        let open = document.querySelector('input[name="open"]:checked')?.value;
        let success = document.querySelector('input[name="success"]:checked')?.value;

        openRadios.forEach(radio => {
            radio.parentElement.classList.toggle('active', radio.checked);
        });
        successRadios.forEach(radio => {
            radio.parentElement.classList.toggle('active', radio.checked);
        });

        funds.forEach(fund => {
            let opened = open !== undefined ? fund.classList.contains(open) : true
            let successful = success !== undefined ? fund.classList.contains(success) : true
            if (opened && successful) {
                fund.style.display = 'flex';
            } else {
                fund.style.display = 'none';
            }
        });
    }

    filterFunds();


    openRadios.forEach(radio => {
        radio.addEventListener('change', () => {
            filterFunds()
        });
    });
    successRadios.forEach(radio => {
        radio.addEventListener('change', filterFunds);
    });
</script>
<script>
    let tg = window.Telegram.WebApp;

    async function openFund(id) {
        await fetch("{{ host }}" + `api/fundraising/${id}/open/`, {
            method: 'GET',
            mode: 'cors',
            headers: {
                'ngrok-skip-browser-warning': '100',
                'Content-Type': 'application/json',
                'Authorization': btoa(tg.initData),
            },
        }).then(r => {
            tg.close()
        }).catch(err => tg.showAlert('err'))
    }

    function closeWebApp() {
        tg.close()
    }
</script>
</body>
</html>


