<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>

<body>
    <h3>Создание сбора</h3>
    <p>Пожалуйста, заполните данные о сборе</p>
    <div class="myform">
        <label for="reason">На что собираем:</label>
        <input type="text" id='reason' placeholder="Тип события" value="{{reason}}">
        <label for="target">Кому собираем:</label>
        <input type="text" id="target" placeholder="Кому собираем" value="{{target}}">
        <label for="eventDate">Дата события</label>
        <input id="eventDate" type="date" value="{{event_date}}">

        <label for="transferInfo">Куда переводим</label>
        <input type="text" id="transferInfo" placeholder="Куда переводим деньги" value="{{transfer_info}}">
        <label for="transferInfo">Варианты подарков:</label>
        <input type="text" id="giftInfo" placeholder="" value="{{gift_info}}">

        <div class="formFooter">
            <div class="formAdding">
                <label for="addingCheckbox">Добавить данные о праздновании</label>
                <div class="addingOptions">
                    <input type="text" id="congratulationDate" placeholder="Дата события">
                    <input type="text" id="congratulationTime" placeholder="Время">
                    <input type="text" id="eventPlace" placeholder="место празднования" value="">
                    <input type="text" id="dresscode" placeholder="Дресс-код" value="">
                </div>
            </div>
            <div class="formButtons">
                <button type="button">Отмена</button>
                <button id="runbtn" class="btn" onclick="postFund()">Запустить</button>
                <button id="paybtn" class="bnt" onclick="postFund()">Оплатить и запустить  сбор</button>
            </div>
        </div>
    </div>
    <script>
        let tg = window.Telegram.WebApp;  //получаем объект webapp
        let api_url = "{{host}}";
        let account_id = {{account_id}};
        let payed_events = {{payed_events}};

        let run_btn = document.getElementById("runbtn");
        let pay_btn = document.getElementById("paybtn");

        let need_pay = payed_events < 1;
        if(need_pay)
            run_btn.style.display = "none";
        else
            pay_btn.style.display = "none";
        //let user_name = `${tg.initDataUnsafe.user.first_name} ${tg.initDataUnsafe.user.last_name}`

        async function postFund(){
            // let user_id = tg.initDataUnsafe.user.id;
            let url = `${api_url}api/user/fundraising/${account_id}/`;

            // создать сбор (fundraising)
            let congratulations_date = document.getElementById("congratulationDate").value;
            if (congratulations_date === "")
                congratulations_date = null;

            let congratulations_time = document.getElementById("congratulationTime").value;
            if (congratulations_time === "")
                congratulations_time = null;

            let fund = {
                reason: document.getElementById("reason").value,
                target: document.getElementById("target").value,
                start: need_pay ? null : new Date().toJSON().slice(0, 10),
                event_date: document.getElementById("eventDate").value,
                transfer_info: document.getElementById("transferInfo").value,
                gift_info: document.getElementById("giftInfo").value,
                congratulation_date: congratulations_date,
                congratulation_time: congratulations_time,
                event_place: document.getElementById("eventPlace").value,
                event_dresscode: document.getElementById("dresscode").value,
            };

            let body = JSON.stringify(fund);
            // Отладочное сообщение
            // tg.showAlert(fund.reason);
            // alert(body);

            let response = await fetch(url, {
                method: 'POST',
                mode: 'cors',
                headers: {
                    'ngrok-skip-browser-warning': '100',
                    'Content-Type': 'application/json',
                    'accept': 'application/json',
                    'Authorization': btoa(tg.initData),
                },
                body: body,
            });
            console.info(response.status)
        }
    </script>
</body>
</html>