<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Оплата дружба-бот</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://widget.cloudpayments.ru/bundles/cloudpayments"></script>
</head>
<body>
    <p>Карта для тестирования:</p>
    <p>5555 5555 5555 4444 (успешный результат)</p>
    <p>4111 1111 1111 1111 (успешный результат)</p>
    <p>4242 4242 4242 4242 (успешный результат)</p>
    <p>2200 0000 0000 0004 (успешный результат)</p>
    <p>5105 1051 0510 5100 (Недостаточно средств на карте)</p>

    <label for="cnt">Количество сборов:</label>
    <input type="text" id="cnt" size="2" value="1"><br>
    <label for="sum">Сумма к оплате:</label>
    <input type="text" id="sum" size="3" value="250" readonly><br><br>
    <button onclick="recalc()">Пересчитать</button><br><br>
    <button onclick="pay()">Оплатить через виджет</button>
    <script>
        const api_url = "{{host}}";
        let account_id = "{{account_id}}"
        let cnt = "{{cnt}}"
        let sum = 0
        document.getElementById("cnt").value = cnt;
        recalc();

        function recalc(){
            sum = 0;
            const count = parseInt(document.getElementById("cnt").value);
            if(1 <= count && count <= 5)
                sum = count * 250;
            if(6 <= count && count <= 49)
                sum = count * 200;
            if(50 <= count && count <= 99)
                sum = count * 150;
            if(count >= 100)
                sum = count * 100;
            // alert(`sum = ${sum}}`)
            document.getElementById("sum").value = sum;
        }

        function pay() {
            recalc();
            const widget = new cp.CloudPayments();
            widget.pay('auth', // или 'charge'
                    { //options
                        publicId: 'pk_962c6913959c15ade574f0cad8f5c', //id из личного кабинета
                        description: `Оплата услуг Дружба-бот ${cnt} сб.`, //назначение
                        amount: sum, //сумма
                        currency: 'RUB', //валюта
                        // accountId: 'user@example.com', //идентификатор плательщика (необязательно)
                        // invoiceId: '1234567', //номер заказа  (необязательно)
                        email: 'dotnetcoder@mail.ru', //email плательщика (необязательно)
                        skin: "classic", //дизайн виджета mini, classic (необязательно)
                        autoClose: 5, //время в секундах до авто-закрытия виджета (необязательный)
                        data: {
                            myProp: 'myProp value'
                        },
                        payer: {
                            firstName: 'Тест',
                            lastName: 'Тестов',
                            middleName: 'Тестович',
                            birth: '1955-02-24',
                            address: 'тестовый проезд дом тест',
                            street: 'Lenina',
                            city: 'MO',
                            country: 'RU',
                            phone: '123',
                            postcode: '345'
                        }
                    },
                    {
                        onSuccess: function (options) { // success
                            //действие при успешной оплате
                        },
                        onFail: function (reason, options) { // fail
                            //действие при неуспешной оплате
                            // alert('Оплата на прошла.')
                        },
                        onComplete: function (paymentResult, options) { //Вызывается как только виджет получает от api.cloudpayments ответ с результатом транзакции.
                            //например вызов вашей аналитики Facebook Pixel
                            const code = paymentResult.code;
                            const success = paymentResult.success;
                            let message = paymentResult.message;
                            const transaction_id = null;
                            post_result(code, success, message, transaction_id);
                            // window.close();
                        }
                    }
            )
        }

        async function post_result(code, success, message, transactionId){
            let url = `${api_url}api/payment/`;
            // создать PaymentResult
            let payment_result = {
              code:  code,
              success: success,
              message: message,
              account_id: account_id,
              payed_events: parseInt(cnt),
              payed_sum: sum,
              transaction_id : transactionId
            };
            // подготовить к отправке и отправить запрос на server
            let body = JSON.stringify(payment_result);

            let response = await fetch(url, {
                method: 'POST',
                mode: 'cors',
                headers: {
                    'ngrok-skip-browser-warning': '100',
                    'Content-Type': 'application/json',
                    'accept': 'application/json',
                },
                body: body,
            });
            console.info(response.status);
            window.close();
        }
    </script>
</body>
</html>