@font-face {
    font-family: "SF UI Display";
    src: url("../font/sf-ui-display-light-58646b33e0551.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    display: none;
}

body {
    font-family: "SF UI Display", sans-serif;
    color: #262626;
    background-color: white;
}

.wrapper {
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
}


.container {
    min-height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 100%;
}

h1 {
    margin: 48px 24px 24px;
    font-size: 24px;
}

label {
    position: relative;
    border: 1px solid #788BF0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    border-radius: 24px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}

label.active {
    background: #788bf0;
    padding-left: 6px;
    padding-right: 10px;
}

label.active * {
    color: white;
}

label img {
    display: none;
}

label.active img {
    display: block;
}

label div {
    display: flex;
    align-items: center;
    gap: 6px;
}

input[type="radio"] {
    cursor: pointer;
    border: 1px solid blue;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.filter {
    display: flex;
    gap: 3px;
    margin-bottom: 15px;
    padding: 0 24px;
}

.filter > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.funds {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
}

.fund * {
    font-size: 15px;
}

.fund {
    height: 60px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.fund div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fund:hover {
    background: #fffdfd;
}

footer {
    z-index: 8;
    background: white;
    position: fixed;
    bottom: 0;

    height: 96px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 24px;
}

.backButton {
    width: 100%;
    height: 48px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4F6FF;
    cursor: pointer;
}

.backButton:active {
    background: #dbe4ff;
}